# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.dev-session
node_modules
rand-core-lib
dist-electron
dist
release/
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

context_backend_main.txt
context_core_logic.txt
context_config_parser.txt
context_frontend.txt
debug-tree.cjs